/*-----------------
Website Font styles
------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*----------------
 Main Stucture-style
 -------------------*/
 body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(211, 212, 214);
 }
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 /* Heading-Style */
 .top-section{
     display: flex;
     justify-content: center;
     background-color: blue;
     margin-bottom: 40px;
 }
 .section-title{
    width: 485px;
    height: 230px;
    font-size: 64px;
    color: #FFFFFF;
    margin-top: 207px;
    margin-left: 156px;
 }
 .section-banner img{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-bottom: 86px;
    margin-left: 102px;
}
.link a{
    text-decoration: none;
    color: white;
    width: 168px;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 15px;
    margin-left: 156px;
}
.arrow{
    margin-left: 10px;
}

 /* Main Section styles */
.top-player-list{
    margin-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player{
    background-color: #FFFFFF;
    padding: 15px;
    width: 330px;
    margin-left: 30px;
    margin-bottom: 30px;
    
}
.player img{
    width: 100%;
}
.player-name{
    font-size: 28px;
    width: 100%;
}
.player-info{
    width: 300px;
    font-size: 16px;
    font-weight: 400px;
    color: #6C6C6C;
    margin-top:10px;
}

/* hightlight-section styles */
.all-highlights{
    display: flex;
}
.highlights{
    margin-top: 120px;
    width: 469px;
    height: 309px;
}
.highlights-title{
    width: 469px;
    height: 120px;
    font-size: 48px;
}
.match-details{
    width: 404px;
    height: 113px;
    color: #6C6C6C;
}
.match-banner img{
    width: 567px;
    height: 427px;
    margin-left: 66px;
    margin-top: 130px
}
.live-link a{
    text-decoration: none;
    color: white;
    width: 168px;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 15px;
}

    /* Footer-Styles */
.footer-section{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 155px;
}
.footer-img img{
    width: 483.87px;
    height: 110px;
}
.fab{
    margin:20px 10px;
    color: #969BAB;
}
.footer-text{
    font-size: 18px;
    color: #252424;
}